<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .div-a{ float:left;width:70%;background: #696969;height: 100%}
        .div-b{ float:left;width:30%;background: whitesmoke;height: 100%}
    </style>
</head>
<body>
<div style="background: white;position:absolute;width:100%;height:100%;">
    <div class="div-a" >
        <div style="height: 350px;"></div>
        <a><img src="../static/img/logo2x.png" style="padding-left: 100px"></a><br>
        <a style="color: white; font-size: large;font-style:revert; padding-left: 100px" >Make IoT Visible</a><br>
        <a style="color: white; font-size: x-large;font-style:revert; padding-left: 100px">基站可视化系统</a>
    </div>
    <div class="div-b">
        <form>
            <div style="height: 250px;"></div>
            <a><img src="../static/img/0e93fe49da54ec4ec688e1047caf643c.png" style="padding-left: 200px;width:200px;height:40px"></a><br>
            <p style="padding-left: 160px">用户名<br><input type="text" name="name" size="30"></p>
            <p style="padding-left: 160px">密码<br><input type="password" name="password" size="30"></p><br>
            <div style="text-align:center"><input type="submit"  id="button" style="width: 120px" value="登陆" /></div>
        </form>
    </div>
</div>
</body>
</html>