<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../static/js/thingjs.min-v1.2.2.4.js"></script>
</head>
<body style="background-color: whitesmoke">
    <h2 style="margin-left: 5%">基站模板<small>可复制新基站场景</small></h2>
    <div style="overflow: hidden">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
            <button class="btn btn-info" type="button">搜索</button>
        </span>
    </div>
    </div>
    <div class="col-lg-3"></div>
    </div>
    <div id="main" style="width: 100%;padding: 5% 2%">

        <div class="col-lg-2" style="padding: 0.5%">
            <div style="background-color: white;padding: 2%">
            <img src="img/preview.jpg" alt="" width="100%">
            <span class="badge">4</span>
            <h3>宏基站</h3>
            <h4>宏基站</h4>
            <button type="button" class="btn btn-primary" onclick="preview();">预览</button>
            <button type="button" class="btn btn-default" onclick="copyScene('宏基站');">复制新基站</button>
            </div>
        </div>
        <div class="col-lg-2" style="padding: 0.5%">
            <div style="background-color: white;padding: 2%">
                <img src="img/preview.jpg" alt="" width="100%">
                <span class="badge">4</span>
                <h3>微基站</h3>
                <h4>微基站</h4>
                <button type="button" class="btn btn-primary" onclick="preview();">预览</button>
                <button type="button" class="btn btn-default" onclick="copyScene('微基站');">复制新基站</button>
            </div>
        </div>

    </div>


    <script>


        function preview(){

            app=new THING.App({
                container: '3d',
                url:'./scene',
            })
            $("#preview").modal("show");
            app.on('load', function (ev) {
                app.level.change(ev.campus);
            });
        }



        function copyScene(name){

            $("#scenefrom").val(name);

            $("#copy").modal("show");
        }

        function  submitScene() {
            var sceneName=$("#sceneName").val();

        }
    </script>






    <!-- Modal -->
    <div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel1">预览场景</h4>
                </div>
                <div class="modal-body">
                    <div id="3d" style="width: 570px;height: 570px">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="copy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">复制新场景</h4>
                </div>
                <form id="submit">
                <div class="modal-body" style="margin: 2%">
                    <label>引用模板</label>
                    <input id="scenefrom" type="text" class="form-control" disabled>
                    <label>场景名称</label>
                    <input id="sceneName" type="text" class="form-control">
                    <label>场景描述</label>
                    <input id="scenePreview" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="submitScene();">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script></script>



</body>
</html>
